@model Millionaire.Models.History
@{
    ViewData["Title"] = "HistoryView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<QuestionBox>
    <h1>History</h1>
    <hr />
    <hr />

    <div class="form-group">
        <h4>Correct answers: </h4>
        <h6>@Model.CorrectAnswers</h6>
    </div>

    <div class="form-group">
        <h4>Money won: </h4>
        <h6>@Model.Money</h6>
    </div>

    <div class="form-group">
        <h4>Start Date: </h4>
        <h6>@Model.StartDate.Year:@Model.StartDate.Month:@Model.StartDate.Day</h6>
    </div>
        <hr />
        <hr />
        <hr />

    @{ 
        if (Model.ReturnGamePage != "") { <tipButton>@Html.ActionLink(Model.ReturnGamePage, "Game", "Game")</tipButton>}
           
        if (Model.ReturnWonPage != "") { <tipButton>@Html.ActionLink(Model.ReturnWonPage, "TakeMoneyView", "Game")</tipButton>}
       
        if (Model.ReturnLostPage != ""){ <tipButton>@Html.ActionLink(Model.ReturnLostPage, "Lost", "Game")</tipButton>}
    }
</QuestionBox>

