@model IEnumerable<Planner.Models.EventPlanning>

@{
    ViewData["Title"] = "FuturePlansResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Future Plans</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Start
            </th>
            <th>
                End
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.StartTime.ToShortTimeString()
                </td>
                <td>
                    @item.EndTime.ToShortTimeString()
                </td>
                <td>
                    @{var duration = Convert.ToInt32(item.EndTime.Subtract(item.StartTime).TotalMinutes);
                        string display = "";
                            if(duration/60 > 0) display += $"{duration / 60} Hours"; 
                            if (duration%60 > 0) display+=$"{duration % 60} Minutes";
                    }
                    @display

                </td>
            </tr>
        }
    </tbody>
</table>
